@import '~reset-css/reset.css';

body {
  margin: 0;
  font-family: 'Varta', sans-serif;
  font-size: 16px;
  color: #5e5e5e;
}

.center {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1600px;
  margin: 0 auto;
  height: 100%;
  background: #fafafa;
}

.row {
  display: flex;
  height: 100%;
}

.login-page {
  height: 100vh;
}