.formWrapper {
    background: #e3e3e3;
    padding: 35px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #e3e3e3b5;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.logo-wrapper img {
    max-width: 50%;
}

.label-error {
    color: #ff0000;
}

.input-error {
    border: 1px solid #ff0000 !important;
    box-shadow: inset 0px 0px 3px #ff0000;
}

.inputWrapper {
    position: relative;
}

.inputWrapper input {
    border: 1px solid #0099dd;
    width: 100%;
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
    border-radius:10px;
    box-sizing: border-box;
    outline: none;
    background: #fff;
}

.inputWrapper label {
    position: absolute;
    top: 12px;
    left:20px;
}

.inputWrapper input:focus ~ label{
    text-align: right;
    display: block;
    width: 100%;
    left: -102%;
    font-size: .85rem;
    transition: all .2s ease;
    color: #0099dd;
}

.inputWrapper input:focus ~ .error-message{
    display: none;
}

.inputWrapper input:valid ~ label{
    text-align: right;
    display: block;
    width: 100%;
    left: -102%;
    font-size: .85rem;
    transition: all .2s ease;
    color: #0099dd;
}

.error-message {
    position: absolute;
    top: -15px;
    color: #ff0000;
}
